<%= simple_form_for([@event, @staff]) do |f| %>
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :phone_number %>
    <%= f.input :email_address %>
    <%= f.button :submit, "Submit" %>
<% end %>
