<%= simple_form_for @event do |f| %>
    <%= f.input :title, placeholder: "Name of Event" %>
    <%= f.input :position, label: "Looking for", placeholder: "Ex. Korean Bilinguals, Driver, Production Assistant, etc.." %>
    <%= f.input :date_of_event, as: :date, html5: :true, label: "Start date" %>
    <%= f.input :last_date_of_event, as: :date, html5: :true, label: "End date" %>
    <%= f.input :city, placeholder: "Ex. San Francisco" %>
    <%= f.input :location, placeholder: "Name of venue" %>
    <%= f.input :description, label: "Preferences and/or Requirements", 
                        placeholder: "-- Must be 25 years of age or older
-- Must have a valid driver license
-- Must be able to drive a 15 passenger van
-- Previous TV/film production experience preferred, but not a must
-- Familiar with greater SF or Seattle area" %>
    <%= f.input :pay, label: "Pay per day", placeholder: "Ex. 100" %>
    <%= f.button :submit %>
<% end %>