<% @events.each do |event| %>
    <div class="col-md-4">
        <div class="message">
            <p class="message-title"> <%= event.title %></p>    
            <%= link_to "View Event", event_path(event), class: "btn-custom" %>
        </div>
    </div>
<% end %>