<div class="col-md-8 col-md-offset-2">
    <div class="message-show">
        <h2><%= @event.title %></h2>
        <p class="message-posted-by">Created by <%= @event.user.email %> <%= time_ago_in_words(@event.created_at) %> ago</p>
        <p>Looking for: <%= @event.position %></p>
        <p>Starting date: <%= @event.date_of_event %></p>
        <p>Ending date: <%= @event.last_date_of_event %></p>
        <p>City: <%= @event.city %></p>
        <p>Name of venue: <%= @event.location %></p>
        <p>Additional information/preferences/requirements: </p>
        <p><%= @event.description %></p>
        <p>Pay per day: <%= @event.pay %></p>
        
        <h3 class="reply-to-msg">Sign up form:</h3>
        <%= render 'staffs/form' %>
        
        <div class="links btn-group">
            <%= link_to "Back", root_path, class: "btn btn-default" %>
            <% if user_signed_in? %>
                <% if current_user.id == @event.user_id %>
                    <%= link_to "Edit", edit_event_path(@event), class: "btn btn-default" %>
                    <%= link_to "Delete", event_path(@event), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
                <% end %>
            <% end %>
        </div>    
    </div>
</div>