<h3>List of Volunteers for <%= @event.title %>:</h3>

<p><%= link_to "Event page", event_path(@event) %></p>

<table>
    <th>Name</th>
    <th>Age</th>
    <th>Phone Number</th>
    <th>Email Address</th>
    <th>Delete</th>
    <% @staff.each do |staff| %></h4>
        <tr>
            <td><%= staff.name %></td>
            <td><%= staff.age %></td>
            <td><%= staff.phone_number %></td>
            <td><%= staff.email_address %></td>
            <td><%= link_to "Delete", status_path(staff), method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
    <% end %>
</table>

 