<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
  
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Event Board", root_path, class: "navbar-brand" %>
      </div>
      
      <ul class="navbar-nav nav">
        <li><%= link_to "Add Event", new_event_path %></li>
				<% if user_signed_in? && current_user.has_event? %>
  				<li class="dropdown">
  					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Status <span class="caret"></span></a>
  					<ul class="dropdown-menu" role="menu">
  						<% Event.all.each do |event| %>
  						  <% if event.user_id == current_user.id %>
    								<li><%= link_to event.title, status_path(event), class: "link" %></li>
    						<% end %>
  						<% end %>
  					</ul>
  				</li>
				<% end %>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>
			</ul>
    </div>
  </div
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
